body, html {
	margin: 0px;
	background-image: url(images/Fre.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.date {
	font-size: 10px;
	color: #e4d5af;
}
.desc {
	font-size: 22px;
}
.img{
	margin: 0px;
	height: 60%;
	width:60%;

}
.footer {
	position: fixed;
	bottom: 0px;
	height: 15%;
	width: 100%;
	background-color: #01010087;
	border-top: 2px solid #e4d5af;
	display: none;
}
.footer-parent {
	position: fixed;
	bottom: 0%;
	right: 5%;
	height: 5%;
	width: 9%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #01010087;
	transition: 3s;
}
.footer-parent:hover > .footer {
	/*transition: 3s;*/
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 15%;
	width: 100%;
	background-color: #01010087;
	border-top: 2px solid #e4d5af;
	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: 3s;
}
.About {
	background-color: #01010087;
	margin-bottom: 35px;
}
.info {
	text-align: center;
	padding: 0px;
	color: #e4d5af;
	/*width: 67%;*/
}
h2 {
	padding: 0px;
	color: #e4d5af;
	font-size: 13px;
	text-align: center;
}
h3	 {
	padding: 0px;
	font-size: 10px;
}
em {
	font-size: 20px;
}
.thanks {
	text-align: center;
	font-size: 8px;
	color: #e4d5af;
}
/*
#facebook {
	color : #7575f5;
}*/
#facebook:hover {
	transition: 2s;
	margin-left: 5px;
	color: #4b4bea;
}/*
#whatsapp {
	color: #25e469;
}*/
#whatsapp:hover {
	transition: 2s;
	margin-left: 5px;
	color: #0cbf4c;
}/*
#instagram {
	color:#d23274;
}*/
#instagram:hover {
	transition: 2s;
	margin-left: 5px;
	color:#a00e4a;
}
/*
#twitter {
	color: #47c9e6;
}*/
#twitter:hover {
	transition: 2s;
	margin-left: 5px;
	color: #1c99b5;
}
.absulute-button-2 {
	width: 4%;
	height: 16vh;
	background-color: white;
	position: fixed;
	left: 0px;
	bottom: 30%;
	z-index: 10;
	margin: 0px;
	background-color: white;
	background-color: #01010087;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	/*border-radius: 50px;*/
}
.absulute-button-2:hover {
	transition: 2s;
	width: 20%;
}.absulute-button-2:hover > .massage {
	/*transition: 5s;*/
	display: block;
}
.absulute-button {
	width: 4%;
	height: 16vh;
	background-color: white;
	position: fixed;
	left: 0px;
	bottom: 10%;
	z-index: 10;
	margin: 0px;
	background-color: #01010087;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	/*border-radius: 50px;*/
}
.absulute-button:hover {
	transition: 2s;
	width: 20%;
}.absulute-button:hover > .massage {
	/*transition: 5s;*/
	display: inline-block;
}
.link-icon {
	display: block;
	padding: 3px;
	color: #e4d5af;
}
.massage {
	display: none;
	color: #e4d5af;
	padding: 5px;
	width: 100%;
}
.tranform-btn {
	cursor: pointer;
	margin: 0px;
	transform: rotate(90deg);
	background-color: #01010087;
	border: 1px solid #e4d5af;
	color: #e4d5af;
}
strong {
	margin-right: 6px;
	color: #c29d71;
	font-weight: bold;
	border-bottom: 1px solid white;
}
.header-layout {
	height: 100vh;
	width: 100%;
	transition: 3s;
	background-size: 125%;
	background-position: center;
	background-repeat: no-repeat;
}
.header-section {
	/*background-color: #237994ab;*/
	justify-content: center;
	height: 100vh;
	width: 100%;

}
.headline {
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-shrink: inherit;
	position: sticky;
	border-bottom: 5px solid  #e4d5af;
	border-bottom-left-radius: 500px;
	background-color: #01010087;
	color: #efe0b8; 
	top: 40%;
}
.logo-div {
	width: 100%;
	border-bottom: 5px solid white;
	transition: 3s;/*
	background-size: cover;
	background-position: center;*/
	display: flex;
	background-color: #010100b8;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0%;
	color: #efe0b8;
	font-weight: bold; 
	z-index: 1;
}
.logo {
	font-size: 2em;
	margin: 10px;
	padding: 10px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	border-top-right-radius: 20px;
}

.logo-para {
	font-size: 20px;
	margin: 10px;
	padding: 10px;
	text-align: center;
	flex-wrap: wrap;
}
.imgs {
	height: 60px;
	width: 60px;
	position: relative;
	left: 10px;
	transform: rotate(34deg);
	z-index: -1;
}
.main-article-layout {
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	transition: 3s;
	border-top: 2px solid #e4d5af;
}
.article-content {
	height: 83vh;
	overflow-y: scroll;
	/*background-color: #237994ab;*/
	/*border: 2px solid white;*/
	color: white;
	width: 23%;
}
.article-content-2 {
	height: 82vh;
	overflow-y: scroll;
	/*background-color: #237994ab;*/
	/*border: 2px solid white;*/
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 73%;
	padding: 0px;
}
input, button {
	font-size: 17px;
	border-radius: 30px;
	background-color: #00000000;
	/*background-color: #00000000; */
	outline: 0px;
	border: 1px solid #e4d5af;
	color: #e4d5af;
	padding: 6px;
}
button:hover {
	border: 2px solid #e4d5af;
	transition: 2s;
}
input:hover {
	border: 2px solid  #e4d5af;
	transition: 2s;
}
.catagories {
	padding: 20px;
	font-size: 20px; 
	border-bottom: 1px solid #e4d5af;
	/*border-bottom-right-radius: 13px;*/
	background-color: #010100b0;
	color: #efe0b8;

	/*background-color: ;*/
	/*margin-top: 15px;*/
}
.catagories:hover {
	transition: 1s;
	background-color: #010100cf;
}
.news {
	height: 40%;
	width: 100%;
	margin: 1px;
	background-color: #010100e3;
	/*background-color: #ce00047a;*/
	/*margin-top: 3%;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-right: 2px solid #e4d5af;
	border-bottom: 2px solid #e4d5af;
}





@media (min-width: 490px) and (max-width: 650px) {


	.desc {
		font-size: 22px;
	}
	.img{
		margin: 0px;
		height: 70%;
		width:70%;
	
	}
.header-layout {
	height: 100vh;
	width: 100%;
	transition: 3s;
	background-size: 175%;
	background-position: center;
	background-repeat: no-repeat;
}

.catagories {
	padding:  15px 15px;
	/*width: 100%;*/
	height: 10vh;
	font-size: 18px; 
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-bottom: 1px solid #e4d5af;
	color: #efe0b8;
}
.news {
	height: 40%;
	width: 99%;
	margin: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-right: 2px solid #e4d5af;
	border-bottom: 2px solid #e4d5af;
}
.main-article-layout {
	/*border: 2px solid red;*/
	background-image: url(images/news.png);
	background-size: cover;
	background-position: center;
	position: relative;
	padding: 0px;
	margin: 0px;
}
.article-content {
	padding: 0px;
	overflow-x: scroll;
	overflow-y: hidden;
	/*background-color: #ce000496;*/
	border: 2px solid #e4d5af;
	/*margin: 1px;*/
	color: white;
	width: 100%;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: left;
	/*align-items: center;*/
	position: sticky;
	top: 20%;
	z-index: 2;
}
.article-content-2 {
	height: 85vh;
	overflow-y: scroll;
	/*background-color: #ce000496;*/
	border: 2px solid #e4d5af;
	margin: 1px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 99%;
}
.logo {
	font-size: 18px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	/*border: 2px solid red;*/
}
.logo-para {
	font-size: 18px;
	text-align: center;
	flex-wrap: wrap;
	/*border: 2px solid red;*/
}
input, button {
	font-size: 13px;
	border-radius: 30px;
	background-color: #00000000;
	/*background-color: #00000000; */
	outline: 0px;
	border: 1px solid #e4d5af;
	color: #e4d5af;
	padding: 3px;
}
.logo-para > span {
	display: none;
}
}








@media (min-width: 375px) and (max-width: 489px) {

	.desc {
		font-size: 17px;
	}
	.img{
		margin: 0px;
		height: 80%;
		width:80%;
	
	}
.absulute-button-2 {
	/*width: 2%;*/
	height: 18vh;
	background-color: white;
	position: fixed;
	left: 0px;
	bottom: 30%;
	z-index: 10;
	margin: 0px;
	background-color: white;
	background-color: #01010087;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	/*border-radius: 50px;*/
}
.absulute-button-2:hover {
	transition: 2s;
	width: 18%;
}.absulute-button-2:hover > .massage {
	/*transition: 5s;*/
	display: block;
}
.absulute-button {
	/*width: 2%;*/
	height: 18vh;
	background-color: white;
	position: fixed;
	left: 0px;
	bottom: 10%;
	z-index: 10;
	margin: 0px;
	background-color: white;
	background-color: #01010087;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	/*border-radius: 50px;*/
}
.absulute-button:hover {
	transition: 2s;
	width: 50%;
}.absulute-button:hover > .massage {
	/*transition: 5s;*/
	display: inline-block;
}
.link-icon {
	display: block;
	padding: 3px;
}
.massage {
	display: none;
	color: white;
	padding: 2px;
	width: 100%;
}
.tranform-btn {
	margin: 0px;
	font-size: 10px;
	cursor: pointer;
	margin: 0px;
	transform: rotate(90deg);
	background-color: #01010087;
	/*border: 1px solid white;*/
	border: 1px solid #e4d5af;
	color: #e4d5af;
}
	.header-layout {
	height: 100vh;
	width: 100%;
	transition: 3s;
	background-size: 350%;
	background-position: center;
	background-repeat: no-repeat;
}
	.logo {
	font-size: 15px;
	padding: 10px 0px;
	margin: 0px;
	text-align: center;
	display: hidden;
	justify-content: center;
	align-items: center;
	z-index: -10;
	/*border: 2px solid red;*/
}
input, button {
	font-size: 20px;
	border-radius: 30px;
	margin:1px;
	background-color: #00000000;
	/*background-color: #00000000; */
	outline: 0px;
	border: 1px solid #e4d5af;
	color: #e4d5af;
	padding: 4px;
}

.catagories {
	padding: 20px;
	font-size: 18px; 
	/*margin: 1px;*/
	width: 100%;
	display: flex;
	text-align: center;
	align-items: center;
	border-bottom: 1px solid #e4d5af;
	/*border-bottom-right-radius: 50px;*/
	color: #efe0b8;
}
.news {
	height: 99%;
	width: 100%;	
	margin: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-right: 2px solid #e4d5af;
	border-bottom: 2px solid #e4d5af;
}
.main-article-layout {
	background-size: cover;
	background-position: center;
	position: relative;
}
.article-content {
	overflow-x: scroll;
	/*background-color: #ce000496;*/
	border: 2px solid #e4d5af;
	margin: 1px;
	color: white;
	width: 100%;
	height: 15vh;
	display: flex;
	flex-direction: row;
	position: sticky;
	top:32%;
	z-index: 2;
}
.article-content-2 {
	height: 85vh;
	overflow-y: scroll;
	/*background-color: #ce000496;*/
	border: 2px solid #e4d5af;
	margin: 1px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}
}


@media (min-width: 220px) and (max-width: 374px) {
	.desc {
		font-size: 15px;
	}
	.img{
		margin: 0px;
		height: 80%;
		width:100%;
	
	}
	h2 {
		font-size; 10px;
	}
.absulute-button-2 {
	/*width: 2%;*/
	height: 18vh;
	background-color: white;
	position: fixed;
	left: 0px;
	bottom: 25%;
	z-index: 10;
	margin: 0px;
	background-color: #01010087;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	/*border-radius: 50px;*/
}
.absulute-button-2:hover {
	transition: 2s;
	width: 25%;
}.absulute-button-2:hover > .massage {
	/*transition: 5s;*/
	display: block;
}
.absulute-button {
	/*width: 2%;*/
	height: 18vh;
	background-color: white;
	position: fixed;
	left: 0px;
	bottom: 8%;
	z-index: 10;
	margin: 0px;
	background-color: #01010087;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	/*border-radius: 50px;*/
}
.absulute-button:hover {
	transition: 2s;
	width: 25%;
}.absulute-button:hover > .massage {
	/*transition: 5s;*/
	display: inline-block;
}
.link-icon {
	display: block;
	padding: 3px;
}
.massage {
	display: none;
	color: white;
	padding: 2px;
	width: 100%;
}
.tranform-btn {
	margin: 0px;
	font-size: 10px;
	cursor: pointer;
	margin: 0px;
	transform: rotate(90deg);
	background-color: #01010087;
	border: 1px solid #e4d5af;
	color: #e4d5af;
}

.header-layout {
	height: 100vh;
	width: 100%;
	transition: 3s;
	background-size: 350%;
	background-position: center;
	background-repeat: no-repeat;
}
	.logo {
	font-size: 15px;
	padding: 10px 0px;
	margin: 0px;
	text-align: center;
	display: hidden;
	justify-content: center;
	align-items: center;
	z-index: -10;
	/*border: 2px solid red;*/
}
input, button {
	font-size: 20px;
	border-radius: 30px;
	margin:1px;
	background-color: #00000000;
	/*background-color: #00000000; */
	outline: 0px;
	border: 1px solid #e4d5af;
	color: #e4d5af;
	padding: 4px;
}

.catagories {
	padding: 20px;
	font-size: 18px; 
	/*margin: 1px;*/
	width: 100%;
	display: flex;
	text-align: center;
	align-items: center;
	border-bottom: 1px solid #e4d5af;
	/*border-bottom-right-radius: 50px;*/
	color: #efe0b8;
}
.news {
	height: 99%;
	width: 100%;	
	margin: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-right: 2px solid #e4d5af;
	border-bottom: 2px solid #e4d5af;
}
.main-article-layout {
	/*border: 2px solid red;*/
	background-image: url(images/news.png);
	background-size: cover;
	background-position: center;
	position: relative;
}
.article-content {
	overflow-x: scroll;
	/*background-color: #ce000496;*/
	border: 2px solid #e4d5af;
	margin: 1px;
	color: white;
	width: 100%;
	height: 15vh;
	display: flex;
	flex-direction: row;
	position: sticky;
	top: 39%;
	z-index: 2;
}
.article-content-2 {
	height: 85vh;
	overflow-y: scroll;
	/*background-color: #ce000496;*/
	border: 2px solid #e4d5af;
	margin: 1px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 0px outset #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #ffe4ca;
}
::-webkit-scrollbar-track {
  background: #080808;
  border: 0px solid #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #aebbb4;
}
::-webkit-scrollbar-corner {
  background: transparent;
}